.calculator__display {
  height: 150px;
  padding: 5px;
  font-size: 4rem;
  background: #C5D6C4;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: flex-end;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.calculator__display__computation {
  height: 30%;
  font-size: 0.5em;
}

.calculator__buttons {
  padding: 20px;
  background: #ddd;
  width: 100%;
}

.calculator__button {
  padding: 5px;
}

.calculator__button button {
  border-radius: 0;
  width: 100%;
}

.calculator__button, .calculator__button button {
  height: 100%;
  font-size: 3rem;
  min-width: 60px;
}

@media only screen and (max-width: 800px) {
  .calculator {
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
  }
  .calculator__display {
    font-size: 4rem;
    flex: 1;
  }
  .calculator__buttons {
    flex: 3;
  }
  .calculator__button button {
    font-size: 3rem;
  }
}